body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #003366; /* тёмно-синий */
    color: #FFFFFF; /* белый */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #3399FF; /* светло-синий */
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #00FF00; /* зелёный */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #FFFFFF; /* белый */
}

h2 {
    color: #FFFFFF; /* белый */
    border-bottom: 2px solid #00FF00; /* зеленый */
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #00FF00; /* зелёный */
}

a:hover {
    text-decoration: underline;
}

/* Стиль для картинки на странице index */
.studentPhoto {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Стиль для картинки на странице hobby */
.studentHobbyPhoto {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*Пульсация 1-ым способом для картинки на личной странице */
.pulse1-image {
    animation: pulse 0.6s ease-in-out 5;
}

.pulse1-image:hover {
    animation: pulse-hover 1s ease-in-out infinite;
}

/* Пульсация 2-ым способом для картинки на странице хобби */
.pulse2-image {
    transform: scale(1);
    transition: transform 0.2s ease-in-out, border-radius 0.2s;
}

.pulse2-image:hover {
    transform: scale(1.2);
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

